.features {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.features__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.features__icon {
  @extend %flex-centered;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__title {
  margin-bottom: 10px;
  @extend %title;

  @include font(null, 14px, 1.14, null);
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  line-height: 1.71;
  text-align: left;
}
