@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin border($bw: 1px, $bs: solid, $bc: transparent, $br: 4px) {
  border-width: $bw;
  border-style: $bs;
  border-color: $bc;
  border-radius: $br;
}

@mixin absolute($pos: absolute, $width: 100%, $top: 0, $left: 0) {
  position: $pos;
  width: $width;
  top: $top;
  left: $left;
}
